.container{
    width: 80%;
    max-width: 700px;
    height: 70vh;
    background-color: #FFFFFF ;
    border-radius: 20px;

    margin: auto;
    margin-top: 5%;
    
    box-shadow: 10px 9px 24px 3px rgba(87,76,87,0.69);
-moz-box-shadow: 10px 9px 24px 3px rgba(87,76,87,0.69);
box-shadow: 10px 9px 24px 3px rgba(87,76,87,0.69);

}

.fields{
    margin: 5% 10%;
}

.pink_font{
    color: #E8258E;
}

.fields__title{
    display: flex;
    justify-content: center;
}


#field__title{
    font-size: 15x;
    font-weight: bold;
    color: rgb(47, 47, 47);

    margin-top: 20px;
    margin-bottom: 5%;
}

.fields__textboxs{
    border: 1px solid #FFFFFF;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fields__textboxs > input{
    height: 40px;
    border: 1px solid silver;
    border-radius: 10px;
    margin-bottom: 5%;
}

.fields__remeber{
    margin: 20px;
}

#btnlogin{
    width: 100%;
    border: none;
    background-color: #E8258E;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;

}

.fields__recovery > a , .fields__create > a{
    text-decoration: none;
    color: E8258
}

.fields__recovery{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10%;
}

.fields__create{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    align-items: flex-end;
    margin-top: 130;
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.logo > img{
    height: 90px;
}